@font-face {
  font-family: KsILove;
  src: url('font/KsILove.eot');
  src: url('font/KsILove.woff') format('woff'),
       url('font/KsILove.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
